@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
  font-size: 1;
}

h4 {
  margin-bottom: 6px;
}
a {
  text-decoration: none;
}

.language__name {
  font-size: 8px;
  text-align: center;
}

button {
  cursor: pointer;
}

section {
  background-color: rgb (245, 245, 245);
}

input,
textarea {
  width: 100%;
  background-color: #242424;
  color: white;
  outline: none;
  border: 3px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}

.accent-color {
  height: 100%;
}
textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

input:hover,
textarea:hover {
  border-color: #dcdfe6;
}

input:focus,
textarea:focus {
  border-color: #56418d;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}
.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.title {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

.accent-color {
  color: #56418d !important;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: black;
  transition: all 300ms ease;
}

.link__hover-effect--white:after {
  background-color: white;
}

.link__hover-effect--black:after {
  background-color: black;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

nav,
.scroll,
.header {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 800ms;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
  opacity: 0;
  visibility: visible;
  transition: all 400ms;
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-circle-half-stroke,
.dark-theme .header__para {
  color: white;
}
.dark-theme .accent-color,
.dark-theme .title {
  color: #30a0f4 important;
}

.dark-theme .mail__btn {
  fill: #242424;
}
.dark-theme section {
  background-color: #242424;
}

.dark-theme #personal-logo {
  filter: none;
}
.dark-theme .scroll__icon {
  border-color: white;
}
.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect--black:after {
  background-color: white;
}
.dark-theme .link__hover-effect--white:after {
  background-color: black;
}
.dark-theme .mail__btn {
  background-color: white;
  color: #242424;
}

/* 

Landing Page Styles

*/

#landing-page {
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 30px;
}

.header__para {
  font-size: 24px;
  line-height: 2;
  max-width: 450px;
}

.mail__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  padding: 10px;
  background-color: #242424;
  fill: white;
  position: absolute;
  bottom: 32px;
  right: 40px;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}
/* 

NAVIGATION

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100px;
}

#personal-logo {
  height: 50px;
  width: 50px;
  filter: invert(1);
}

.nav__link--list {
  display: flex;
}
.nav__link {
  margin: 0 12px;
}
.nav__link--anchor {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}
.font-awesome {
  height: 20px;
  width: 20px;
}

/* 

MODAL

*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition:
    visibility 1s,
    z-index 1s,
    box-shadow 05s ease;
}
.modal--open .modal {
  z-index: 50;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 0.55);
  visibility: visible;
}
.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact {
  transform: translateX(0%);
}
.modal__about {
  background-color: rgb(245, 245, 245);
  transform: translateX(-110%);
}

.modal__languages {
  display: flex;
  flex-wrap: wrap;
}

.modal__language {
  width: 25%;
  padding: 16px;
}

.language__name {
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  font-size: 8px;
  text-align: center;
}

.modal__language--img {
  width: 100%;
}

.modal__contact {
  background-color: #242424;
  color: white;
  transform: translateX(110%);
}

.modal__title {
  font-size: 26px;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}
.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}
.form__item {
  margin-bottom: 20px;
}

.form__submit {
  background-color: #56418d;
  color: white;
  border: 2px solid #56418d;
  font-weight: 700;
  width: 100%;
  max-width: 200px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
}
.form__submit:hover {
  border-color: #fff;
  background-color: transparent;
}

.form__submit:active {
  border-color: #56418d;
  color: #56418d;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
}

.modal__overlay--success {
  background-color: #30a0f4;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: spinner 750ms infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 24px;
  color: white;
  z-index: 100;
}
/* 

PROJECTS

*/

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.project {
  margin-bottom: 135px;
}

/* .project__img {
  width: 100%;
  height: 100%;
  transition: all 600ms ease;
} */

.project__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 600ms ease;
}

/* .project__wrapper {
  position: relative;
  height: max-content;
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.45);
  overflow: hidden;
} */

.project__wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 10;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.45);
}

.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  opacity: 0;
  transition:
    opacity 300ms,
    transform 450ms ease;
  color: white;
  max-width: 550px;
}

.project__description--para {
  margin-bottom: 8px;
}

.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.7;
}

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
}
.project__description--title {
  font-size: 40px;
}

.project__description--subtitle {
  margin-top: 8px;
}

.project__description--link {
  color: white;
  font-size: 24px;
  margin-right: 16px;
}

.project__description {
  margin: 16px 0;
}

/* 

FOOTER

*/

footer {
  position: relative;
  background-color: #242424;
  display: flex;
  padding: 6% 0;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo--img {
  width: 70px;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 28px 0;
}

.footer__social--link,
.footer__copyright {
  color: white;
}

.social__list {
  margin-top: 16px;
  display: flex;
  /* height: 20px;
    width: 20px; */
}

.social__link {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #56418d;
  border-radius: 50%;
}

.social__link svg {
  width: 18px;
  height: 18px;
  fill: white;
}

/* .social__link {
  width: 32px;
  height: 32px;
  padding: 6px;
  margin-right: 12px;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  background-color: #56418d;
  border-radius: 50%;
} */

/* 

****************** Shapes ****************


*/

/* body {
  perspective: 1000px;
} */

.shape {
  position: fixed;
  transition: transform 0.1s ease-out;
  z-index: 0;
}

.shape--0 {
  height: 12vh;
  width: 12vh;
  top: 15vh;
  left: 0vw;
}
.shape--1 {
  height: 3vh;
  width: 3vh;
  top: 30vh;
  left: 40vw;
}
.shape--2 {
  height: 5vh;
  width: 5vh;
  top: 15vh;
  left: 70vw;
}
.shape--3 {
  height: 3vh;
  width: 3vh;
  top: 50vh;
  left: 5vw;
}
.shape--4 {
  height: 6vh;
  width: 6vh;
  top: 50vh;
  left: 50vw;
}
.shape--5 {
  height: 3vh;
  width: 3vh;
  top: 50vh;
  left: 90vw;
}
.shape--6 {
  height: 5vh;
  width: 5vh;
  top: 80vh;
  left: 5vw;
}
.shape--7 {
  height: 3vh;
  width: 3vh;
  top: 80vh;
  left: 50vw;
}
.shape--8 {
  height: 12vh;
  width: 12vh;
  top: 80vh;
  left: 80vw;
}

/* Smartphones, tablets, large smarte phones */
@media (max-width: 768px) {
  .title {
    font-size: 60px;
    text-align: left;
  }
  .header__para {
    font-size: 18px;
    text-align: left;
  }
  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }

  .project__description {
    align-items: center;
    padding: 40px;
    width: 100%;
    text-align: center;
    left: 0px;
  }
  /* .project__description {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    max-width: 500px;
    padding: 24px;
  } */
  .project__description--para {
    display: none;
  }
  .project__description--title {
    font-size: 28px;
  }
  .project__description--subtitle {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .modal__half {
    width: 100%;
  }
  .modal__language {
    width: 25%;
    padding: 16px;
  }
  /* .social__link {
    width: 32px;
    height: 32px;
    padding: 2px;
    margin-right: 12px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
    background-color: #56418d;
    border-radius: 50%;
  } */
}

/* small phones */
@media (max-width: 480px) {
  .title {
    font-size: 28px;
  }
  .header__para {
    font-size: 16px;
  }
  .nav__link:first-child {
    display: none;
  }
  .project__description--para {
    display: none;
  }
  .project__description--title {
    font-size: 18px;
  }
  .project__description--subtitle {
    margin-bottom: 8px;
  }
  .modal__half {
    padding: 40px;
  }
}
